USE [master]
GO
/****** Object:  Database [Supercom]    Script Date: 6/19/2021 10:56:30 PM ******/
CREATE DATABASE [Supercom]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Supercom', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.ELAD\MSSQL\DATA\Supercom.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Supercom_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.ELAD\MSSQL\DATA\Supercom_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Supercom].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Supercom]
GO
/****** Object:  Table [dbo].[Locations]    Script Date: 6/19/2021 10:56:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[ID] [int] NOT NULL,
	[Location_Time] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/19/2021 10:56:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[GetUsers]    Script Date: 6/19/2021 10:56:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetUsers]
as 
begin
select ID, Name from Users
end
GO
USE [master]
GO
